#titleheader {
    height: 120px;
    margin-top: -10px;
}

#typeheader {
    height: 50px;
    text-align: center;
  }

#typeh1 {
    font-size: 30px;
    margin-top: 5px;
}

/* Simple.CSS overrides */
:root {
    --accent: #f3b50c;
    --accent-hover: #1266e2;
    --accent-light: #203b64;
}

@media (prefers-color-scheme: dark) {
    :root {
            --accent: #009bcede;
            --accent-hover: #9fffac;
            --accent-light: #adffb9;
    }
}

body {
    grid-template-columns: 1fr 90% 1fr;
}