/*
* Programs Section Styling
*/
.programs {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.programs img {
    opacity: 0;
    width: 50px;
    transition: transform 0.3s;
    animation: fadeIn 0.6s ease forwards;
}

.programs img:hover {
    opacity: 1;
    transform: scale(1.2);
    filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.8));
}

.programs img.premiere { animation-delay: 0.2s;}
.programs img.photoshop { animation-delay: 0.35s;}
.programs img.aftereffects { animation-delay: 0.5s;}
.programs img.illustrator { animation-delay: 0.65s;}
.programs img.youtube { animation-delay: 0.8s;}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 0.85; }
}

/*
* Stats Section Styling
*/

.stats {
    display: flex;
    gap: 40px;
    text-align: center;
    padding: 60px 10%;
}

.stat .count {
    font-size: 2.5rem;
    font-weight: bold;
    transition: color 0.1s linear;
}

.plus {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.plus.visible {
    opacity: 1;
}

/*
* Video Grid Section Styling
*/
.top-videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;
} 

.extra-videos {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 15px;
}

.grid-item {
    display: block;
    text-decoration: none;
    color: inherit;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    cursor: pointer;
    transition: transform 0.3s;
}

.grid-item img {
    width: 100%;
    display: block;
    transition: transform 0.3s, filter 0.3s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 10px;
    font-weight: bold;
}

.grid-item:hover img {
    transform: scale(1.1);
    filter: brightness(0.6);
}

.grid-item:hover .overlay {
    opacity: 1;
}